[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metsyn"]
	path = metsyn
	url = https://github.com/paulponcet/metsyn
[submodule "modeest"]
	path = modeest
	url = https://github.com/paulponcet/modeest
[submodule "statip"]
	path = statip
	url = https://github.com/paulponcet/statip
[submodule "strip"]
	path = strip
	url = https://github.com/paulponcet/strip
