[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bazar"]
	path = bazar
	url = https://github.com/paulponcet/bazar
[submodule "flifo"]
	path = flifo
	url = https://github.com/paulponcet/flifo
[submodule "metsyn"]
	path = metsyn
	url = https://github.com/paulponcet/metsyn
[submodule "modeest"]
	path = modeest
	url = https://github.com/paulponcet/modeest
[submodule "observer"]
	path = observer
	url = https://github.com/paulponcet/observer
[submodule "statip"]
	path = statip
	url = https://github.com/paulponcet/statip
[submodule "strip"]
	path = strip
	url = https://github.com/paulponcet/strip
